/* Reset de estilos */
body, h1, h2, p, ul, li, label, input, button {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/Imagenes/fondos/reserva.png);
    font-size: 1.5vw;
    color: gold;

    .reserva {
        margin-left: 30px;
    }
    
/* Título Hacé tu reserva aquí... */
.section1 {
    color:gold;
    font-size: 2vw;
    padding-left: 60px;
    margin-bottom: 10px;
}

.menores {
margin-right: 5px;
}
   }

label, input[type="radio"], button, input[type="text"], input[type="email"], input[type="reset"], input[type="submit"], input[type="date"] {
    font-size: 1.5vw;
}

input[type="text"], input[type="email"] {
    width: auto; 
}

input[type="radio"] {
    transform: scale(1.5); 
}

/* Estilo para los botones */
.restablecer {
    padding: 5px;
    border: inset;
    border-width: 1px 8px 1px 5px;
    background-color: rgb(12, 12, 12);
    border-radius: 30%;
    border-color: darkolivegreen;
    color: white;
    margin-left:50px;
    margin-right: 10px;
}

.enviar {
padding: 5px;
border: inset;
border-width: 1px 8px 1px 5px;
background-color: rgb(12, 12, 12);
border-radius: 30%;
border-color: darkolivegreen;
color: white;
margin-right: 10px;

}

.cancelacion {
    padding: 5px;
    border: inset;
    border-width: 1px 8px 1px 5px;
    background-color: rgb(12, 12, 12);
    border-radius: 30%;
    border-color: darkolivegreen;
    color: white;
    margin-right: 10px;
}

/* Fuentes */
.bungee-regularspice- {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:2vw;
}

.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    font-size: xx-large;
  }

  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
  }  

  header {
    background-color: rgba(97, 3, 42);
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  header h1 {
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    margin-top: 5px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    transition: color 0.3s, text-decoration 0.3s;
    padding: 10px;
  }
  
  nav ul li a:hover {
    color: blue; /* Cambia el color al pasar el mouse */
  }

/* Favicon de Facebook */
.fa-facebook-square {
    font-size: 2vw; 
    color: white;
  }

  .fa-facebook-square:hover {
    color: blue;
  }

/* Favicon de Instagram */
.fa-instagram{
    font-size: 2vw; 
    color: white;
}

.fa-instagram:hover {
    color: blue;
  }

/* Display del footer */
.container {
    color: white;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Texto del footer */
.item {
width: 25vw;
font-size:1.5vw;
padding: 5px;
color: white;
}

/* Estilo del texto del footer */
footer {
    background-color: #0f0f0f;
    text-align: center;
    width: 100%;
    padding: 0cm;
    margin-top: 220px;

    .copyright {
        color: white;
        font-size:1.5vw;
    }
}
