/* Reset de estilos */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(https://stock.adobe.com/ar/search/images?filters%5Bcontent_type%3Aphoto%5D=1&filters%5Bcontent_type%3Aillustration%5D=0&filters%5Bcontent_type%3Azip_vector%5D=1&filters%5Bcontent_type%3Avideo%5D=0&filters%5Bcontent_type%3Atemplate%5D=0&filters%5Bcontent_type%3A3d%5D=0&filters%5Bcontent_type%3Aaudio%5D=0&filters%5Binclude_stock_enterprise%5D=0&filters%5Bis_editorial%5D=0&filters%5Bcontent_type%3Aimage%5D=1&filters%5Bpixels_width_min%5D=1400&filters%5Bpixels_height_min%5D=740&k=gente+comiendo+hamburguesas&order=relevance&safe_search=1&limit=100&search_page=1&search_type=filter-select&price%5B%24%5D=1&get_facets=1&asset_id=419253450);
    }

/* Estilos generales */
header {
    background-color: #e02c2c;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #333;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.section {
    padding: 50px 20px;
    text-align: center;
   }

/* Animaciones de transición */
.section {
    transition: transform 0.5s ease-in-out;
}

.section:hover {
    transform: scale(1.05);
    background-image: url(./assets/Imagenes/fondos/fondoHamburguesa.jpg);
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}