body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(./assets/Imagenes/fondos/fondo2.png);
    background-size: cover; /* Utiliza cover en lugar de contain para ajustar la imagen de fondo */
    color: goldenrod;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
}

.bungee-regularspice- {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Estilos generales */
header {
    background-color: rgba(100, 52, 72, 0.8);
    text-align: center;
    width: 100%;
    padding: 0.5cm;
}

header h1 {
    color: white;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.section {
    padding: 10px 10px;
    width: max-content;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 5px;
    background-color: rgb(57, 11, 100, 50);
    border-radius: 10%;
}

/* Animaciones de transición */
.section {
    transition: transform 0.5s ease-in-out;
}

.section:hover {
    transform: scale(1.05);
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0.5cm;
    margin-top: auto;
}
