/* Reset de estilos */
body, h1, h2, p, ul, li, label, input, button {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/Imagenes/fondos/reserva.png);
    font-size: x-large;
    color: gold;

    .reserva {
        margin-left: 15px;
    }

.section1 {
    color: aqua;
    font-size: xx-large;
    padding-left: 20px;
}

.menores {
margin-right: 5px;
}
   }

label, input[type="radio"], button, input[type="text"], input[type="email"], input[type="reset"], input[type="submit"] {
    font-size: 20px;
}

input[type="text"], input[type="email"] {
    width: auto; /* Para que el ancho se ajuste automáticamente al contenido */
}

input[type="radio"] {
    transform: scale(1.5); /* Aumenta el tamaño del radio button */
}

.borrar {
    padding: 5px;
    border: inset;
    border-width: 1px 8px 1px 5px;
    background-color: rgb(12, 12, 12);
    border-radius: 30%;
    border-color: darkolivegreen;
    color: white;
    margin-left: 20px;
    margin-right: 10px;
}

.enviar {
padding: 5px;
border: inset;
border-width: 1px 8px 1px 5px;
background-color: rgb(12, 12, 12);
border-radius: 30%;
border-color: darkolivegreen;
color: white;
margin-right: 10px;

}

.posponer {
    padding: 5px;
    border: inset;
    border-width: 1px 8px 1px 5px;
    background-color: rgb(12, 12, 12);
    border-radius: 30%;
    border-color: darkolivegreen;
    color: white;
    margin-right: 10px;
}

.salir {
    padding: 5px;
    border: inset;
    border-width: 1px 8px 1px 5px;
    background-color: rgb(12, 12, 12);
    border-radius: 30%;
    border-color: darkolivegreen;
    color: white;
}

/* Fuentes */
.bungee-regularspice- {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:xx-large;
}
.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    font-size: xx-large;
  }

  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }  

header {
    background-color: rgba(97, 3, 42);
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

header h1 {
    color: white;
}

nav ul {
    list-style-type: none;
    margin-top: -5px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: large;
}

/* Display del footer */
.container {
    color: white;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Texto del footer */
.item {
width: 25vW;
font-size:small;
padding: 5px;
color: white;
}

/* Estilo del texto del footer */
footer {
    background-color: #0f0f0f;
    text-align: center;
    width: 100%;
    padding: 0cm;
    margin-top: 50px;

    .copyright {
        color: white;
        font-size:medium;
    }
}
