body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 650px) {
    body {
        font-family: Arial, sans-serif;
        background-image: url(./assets/Imagenes/fondos/enFlamas.jpg);
        background-size: cover;
        color: rgb(198, 212, 8);
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
    }
    .section {
        font-size:xx-small;
        padding: 10px 10px;
        width: max-content;
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        background-color: rgba(132, 4, 136, 0.4);
        border-radius: 10%;
        transition: transform 0.5s ease-in-out;
    }
    .section1 {
        margin-top: -10px;
        margin-left: 10px;
        text-align: center;
    }
    .section:hover {
        transform: scale(1.05);
        color: white;
        background-color: rgba(132, 4, 136); 
    }  
}

@media only screen and (min-width: 651px) and (max-width: 1200px)  {
    body {
        font-family: Arial, sans-serif;
        background-image: url(./assets/Imagenes/fondos/fondoMed.png);
        background-size: cover;
        color: rgb(8, 201, 250);
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
    } 
}

@media only screen and (min-width: 1201px)  {
    body {
        font-family: Arial, sans-serif;
        background-image: url(./assets/Imagenes/fondos/fondoMax.png);
        background-size: cover;
        color: rgb(8, 201, 250);
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
    } 
}

.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
  }
  
  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
  }
  
  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }    

.bungee-regularspice- {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: rgba(100, 52, 72, 0.8);
    text-align: center;
    width: 100%;
}

header h1 {
    color: white;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 0px;
}

.item {
width: 30vW;
font-size:smaller;
padding: 5px;
}


footer {
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0cm;
    margin-top: auto;

}
