body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./assets/Imagenes/fondos/reservaMax.png); 
    font-size: 30px; 
    color:chocolate;
 
    .kalam-regular {
        color:rgb(248, 252, 6);
        text-align: left;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 10%;
    }
}

label, input[type="radio"] {
    color: white;
    font-size: 30px; /* Tamaño de fuente igual al del body */
}

button {
    font-size: 30px; /* Tamaño de fuente igual al del body */
}

input[type="text"], input[type="email"] {
    font-size: 30px; /* Tamaño de fuente igual al del body */
    width: auto; /* Para que el ancho se ajuste automáticamente al contenido */
}
input[type="radio"] {
    transform: scale(1.5); /* Aumenta el tamaño del radio button */
}

header {
    background-color: rgba(97, 3, 42);
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

header h1 {
    color: white;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size:large;
}
nav a {
    font-size: 30px;
    text-decoration: none; /* Para quitar el subrayado predeterminado */
}  

/* Display del footer */
.container {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Texto del footer */
.item {
    width: 30vW;
    font-size:medium;
    padding: 5px;
    }

/* Estilo del texto del footer */
footer {
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0cm;
    margin-top: auto;
    font-size:medium;
}