body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
/* Celulares */
@media only screen and (max-width: 650px) {
    body {
        /* Títulos del nav */
        font-size: 5vW;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url(./assets/Imagenes/fondos/burgerSmall.jpg);
        background-size: cover;
        color: black;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
    }
    
    /* Título Bienvenido a Gloriosa Burgers! */
    .chicle-regular {
        font-family: "Chicle", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4vw;
      }

    /* Títulos del menú */
    .section {
        font-size: 2vw;
        padding: 15px 15px;
        width: 20vW;
        min-width: 51vw;
        max-width:min-content;
        text-align: center;
        color: white;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        background-color: rgba(82, 125, 173, 0.4);
        border-radius: 40%;
        border-bottom-style:dotted;
        transition: transform 0.5s ease-in-out;
    }
    .section1 {
        margin-top: -20px;
        margin-left: 10px;
        text-align: center;
    }
/* Título Qué te gustaría? */
    .section2 {
        font-size:3vw;
        color:gold;
        padding: 10px 10px;
        width: 50vW;
        min-width: 65vw;
        max-width:min-content;
        text-align: center;
        margin-top: -5px;
        margin-left: -30px;
        margin-bottom: -15px;
    }

    .section:hover {
        transform: scale(1.05) translate(20px, 0px);
        color: black;
        background-color:rgb(82, 173, 123);
    }  
/* Display del footer */
.container {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Texto del footer */
.item {
width: 30vW;
font-size:2.5vw;
padding: 5px;
}

/* Estilo del texto del footer */
footer {
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0cm;
    margin-top: auto;

    .copyright {
        color: white;
        font-size: 2.5vw;
    }
}

header {
    background-color: rgba(97, 3, 42);
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

header h1 {
    color: white;
}

nav ul {
    list-style-type: none;
    margin-top: 5px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 2vw;
    transition: color 0.3s, text-decoration 0.3s;
    padding: 10px;
}

nav ul li a:hover {
    color: blue; /* Cambia el color al pasar el mouse */
}

/* Favicon de Facebook */
.fa-facebook-square {
    font-size: 2vw; 
    color: white;
  }

  .fa-facebook-square:hover {
    color: blue;
  }

/* Favicon de Instagram */
.fa-instagram{
    font-size: 2vw; 
    color: white;
}

.fa-instagram:hover {
    color: blue;
  }
}

/* Tablets */
@media only screen and (min-width: 651px) and (max-width: 1000px)  {
    body {
        /* Títulos del nav */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url(./assets/Imagenes/fondos/burgerMedium.jpg);
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
    }
    
    /* Título Bienvenido a Gloriosa Burgers! */
    .chicle-regular {
        font-family: "Chicle", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.3vw;
      }

    /* Títulos del menú */
    .section {
        font-size:2vw;
        padding: 20px 20px;
        width: 20vW;
        min-width: 52vw;
        max-width:min-content;
        text-align: center;
        color: black;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        background-color: rgba(82, 125, 173, 0.4);
        border-radius: 40%;
        border-bottom-style:dotted;
        transition: transform 0.5s ease-in-out;
    }
    .section1 {
        margin-top: -30px;
        margin-left: 10px;
        text-align: center;
    }
/* Título Qué te gustaría? */
    .section2 {
        font-size:3.5vw;
        font-weight: bold;
        color:darkred;
        padding: 10px 10px;
        width: 50vW;
        min-width: 65vw;
        max-width:min-content;
        text-align: center;
        margin-top: -5px;
        margin-left: -50px;
        margin-bottom: -15px;
    }

    /* Título Bienvenidos a Gloriosa Burgers! */
    .chicle-regular {
        color:black;
        font-size: 4vw;
    }
    .section:hover {
        transform: scale(1.05) translate(20px, 0px);
        color: white;
        background-color: rgba(132, 4, 136); 
    } 
    /* Display del footer */
.container {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Texto del footer */
.item {
width: 30vW;
font-size:2vw;
padding: 5px;
}

/* Estilo del texto del footer */
footer {
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0cm;
    margin-top: auto;

    .copyright {
        color: white;
        font-size: 2vw;
    }
}

header {
    background-color: rgba(97, 3, 42);
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

header h1 {
    color: white;
}

nav ul {
    list-style-type: none;
    margin-top: 5px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 2vw;
    transition: color 0.3s, text-decoration 0.3s;
    padding: 10px;
}

nav ul li a:hover {
    color: blue; /* Cambia el color al pasar el mouse */
}

/* Favicon de Facebook */
.fa-facebook-square {
    font-size: 2vw; 
    color: white;
  }

  .fa-facebook-square:hover {
    color: blue;
  }

/* Favicon de Instagram */
.fa-instagram{
    font-size: 2vw; 
    color: white;
}

.fa-instagram:hover {
    color: blue;
  }
}

/* Notebooks */
@media only screen and (min-width: 1001px)  {
    body {
        /* Títulos del nav */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url(./assets/Imagenes/fondos/fondoMax.png);
        background-size: cover;
        color: rgb(10, 10, 10);
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
    }

    /* Título Bienvenido a Gloriosa Burgers! */
.chicle-regular {
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
  }

     /* Títulos del menú */   
    .section {
        color: black;
        font-size: 1.4vw; /* Cambiado de medium a un tamaño de fuente específico */
        padding: 10px 10px;
        width: 10vW;
        min-width: 65vw;
        max-width:min-content;
        text-align: center;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        background-color: rgba(40, 63, 43, 0.4);
        border-radius: 40%;
        border-bottom-style:dotted;
        transition: transform 0.5s ease-in-out;
    }
    .section1 {
        margin-top: -30px;
        margin-left: 10px;
        text-align: center;
        font-size: 2.5vw; 
    }
    /* Título Qué te gustaría? */
    .section2 {
        color: rgb(15, 7, 100);
        font-size: 2.3vw; 
        width: 50vW;
        min-width: 65vw;
        max-width:min-content;
        text-align: center;
    }

    .section:hover {
        transform: scale(1.05) translate(30px, 0px);
        color: white;
        background-color: rgb(44, 9, 240); 
    }  
/* Display del footer */
.container {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Texto del footer */
.item {
width: 30vW;
font-size:1.5vw;
padding: 5px;
}

/* Estilo del texto del footer */
footer {
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 80px;

    .copyright {
        color: white;
        font-size: 1.5vw;
    }
}

header {
    background-color: rgba(97, 3, 42);
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

header h1 {
    color: white;
}

nav ul {
    list-style-type: none;
    margin-top: 5px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    transition: color 0.3s, text-decoration 0.3s;
    padding: 10px;
}

nav ul li a:hover {
    color: blue; /* Cambia el color al pasar el mouse */
}

/* Favicon de Facebook */
.fa-facebook-square {
    font-size: 2vw; 
    color: white;
  }

  .fa-facebook-square:hover {
    color: blue;
  }

/* Favicon de Instagram */
.fa-instagram{
    font-size: 2vw; 
    color: white;
}

.fa-instagram:hover {
    color: blue;
  }
}

/* Fuentes */
  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
  }

  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }  

  .bungee-regularspice- {
    margin-bottom: 5px;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:2vw;
}
  

